body {
    text-align: center;
    font-family: cursive;
    background: linear-gradient(#a2d2ff, #efb0c9);
    color: #ffffff;
}

h1, h2, h4 {
   text-shadow: 0px 0px 1px black; 
}

#mls-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #efb0c9;
    margin-bottom: 10px;
}

#bday-splw1 {
    background: #efb0c9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0px 10px 0;
}

#bday-splw2 {
     background: #efb0c9;
    padding: 5px 10px;
    border-radius: 5px;
}

#bday-splw3 {
     background: #efb0c9;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

.gift-img {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.avif");
    background-size: cover;
}

#gift-img-happy-cat:hover {
    background-image: url("images/happy-cat.jpg");
}

#gift-img-ppl:hover {
    background-image: url("images/ppl.avif");
}

#gift-img-kind:hover {
    background-image: url("images/kind.jpg");
}

#gift-img-badass:hover {
    background-image: url("images/badass.jpg");
}

#gift-img-spl1:hover {
    background-image: url("images/spl1.jpeg");
}
#footer{ 
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}